Meta
doc
# Binary files
*.o
*.so
.httr-oauth
*.dll
# Configure
src/Makevars
autom4te.cache
config.log
config.status
*~
# Documents
.Rd2pdf*
quanteda.pdf
API_notes.md
# Tests
/revdep/.cache.rds
*Rcheck*
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
# R or RStudio
*.Rproj
.Rproj.user
.Rhistory
.RData
# OS
__MACOSX
.DS_Store
# Linux
.directory
# Vignette
**_cache/
/inst/doc
inst/doc
vignettes/quickstart.R
vignettes/quickstart.html
revdep/
/doc/
/Meta/
CLAUDE.md
.claude
