.Rproj.user
.Rhistory
.RData
.Rbuildignore
.DS_Store
quanteda.Rproj
quanteda_kenlocal_gh.Rproj
Ken local code.Rproj
Ken\ local\ code.Rproj
quanteda_kenlocal_gh.Rproj
.gitignore
.Rbuildignore
.Rdata
.Rhistory
__MACOSX
*~
*.log
*.synctex.gz
*.tex
