/* Edit pkgdown/extra.css to customize the theme */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body { 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}

b, strong, th {
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    background-image: url(https://cdn.rawgit.com/kbenoit/quanteda/master/images/quanteda_logo_small.svg);
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 150px auto;
    text-indent: -9999px;
    padding-left: 155px;
}

div#overview div.page-header h1 {
    margin-top: 22px;
    padding: 0;
    font-size: 250%;
    color: dimgray;
}

div.page-header h1 {
    font-size: 250%;
    color: dimgray;
}

div.page-header h4 {
    padding-top: 10px;
    font-size: 120%;
}

div.contents h1 {
    color: dimgray;
    font-size: 200%;
    padding-top: 80px;
}

div.contents h2 {
    font-size: 150%;
    padding-top: 70px;
}

div.contents h3 {
    font-size: 120%;
    padding-top: 60px;
}

div.contents h4 {
    font-size: 100%;
    padding-top: 60px;
}

pre {
    overflow-x: auto;
    font-size: 80%;
    line-height: 150%;
}



